html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("../public/bg-logo.jpg");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: white;
}

.main-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  margin: 2rem;
  text-align: center;
}

.match-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

iframe {
  width: 640px;
  height: 520px;
}

h3 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 1rem;
}

.links-container {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 33%);
  grid-auto-rows: 15rem;
  margin: 2rem 0;
}

a {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 119, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.links {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  position: relative;
}

.link-name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

.link-name::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.438),
    rgba(255, 255, 255, 0)
  );
  opacity: 0;
  transition: all 0.5s ease;
}

.link-name:hover::before {
  opacity: 1;
}

.link-p {
  text-transform: uppercase;
  font-weight: 500;
  margin: 1rem;
  font-size: 1.25rem;
  color: white;
  text-shadow: 0 3px 10px black;
  z-index: 3;
}

.link-name:hover img {
  transform: scale(1.25);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-container {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.more {
  text-align: center;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid green;
  background-color: #f6f6f63d;
  backdrop-filter: blur(10px);
}

.footer-title {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 30%;
}

.footer-links {
  border: none;
  text-decoration: underline;
  text-transform: lowercase;
}

/* --------------------SCHEDULES-------------------------- */

.schedule-container {
  height: 100%;
  border: 1px solid green;
  margin: 3rem 2rem 0 2rem;
  border-radius: 0.5rem;
  background-color: #f6f6f63d;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.schedule-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matches-main-container {
  width: 100%;
}

.matches-container {
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}

.one-match-container {
  border: 1px solid green;
  border-radius: 0.5rem;
  background-color: #f6f6f63d;
  backdrop-filter: blur(10px);
  margin: 0 1rem 0rem 1rem;
  display: grid;
  grid-template-columns: 18rem;
  grid-template-rows: 60% 10% 10% 10% 10%;
  position: relative;
}

.logos-container {
  width: 100%;
  height: 80%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.team-logo {
  width: 30%;
  height: 7rem;
  object-fit: contain;
  margin: 0 0;
}

.teams {
  white-space: nowrap;
  text-align: center;
  margin: 0;
}

.stadiums {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}

.match-no {
  position: absolute;
  top: 0.5rem;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid green;
  background-color: #f6f6f63d;
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #f6f6f6b0;
  color: black;
}

.tomorrow {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  color: black;
  margin: 0;
  padding: 0 0.5rem;
  border: 1px solid green;
}

.live {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: red;
  border-radius: 0.5rem;
  color: white;
  margin: 0;
  padding: 0 0.5rem;
  border: 1px solid green;
}
/* --------------------CREATE NEW POST CONTAINER---------------------- */
.create-new-post-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;
  background-color: #f6f6f63d;
  backdrop-filter: blur(10px);
  border: 1px solid green;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 5rem;
  place-items: center;
  margin: 2rem;
}

input {
  color: black;
  background-color: #f6f6f63d;
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  border: 1px solid green;
  width: 80%;
  height: 80%;
  padding: 1rem;
  outline: none;
  font-size: 1rem;
}

.team1-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-title {
  text-align: center;
}

/* --------------------NAVBAR-------------------- */
.navbar-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

/* ---------------------MANAGE POSTS-------------------- */

.manage-posts-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.edit-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .links-container {
    grid-template-columns: 100%;
  }
  .main-title-container {
    align-items: flex-end;
  }
}
